@import-normalize;

body {
  background-color: #fff;
  padding: 1em;
  margin: 0;
  font-family: "Helvetica", "Arial", "Sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
